<main class="dashboard-content">
  <h1 style="text-align: center; font-size: 28px">Welcome to Dashboard</h1>
  <!-- <p>Overview of your application</p> -->

  <!-- STATS GRID -->
  <div class="stats-grid">
    <!-- USER COUNT CARD -->
    <div class="stat-card">
      <!-- <div class="stat-icon">👤</div> -->

      <div class="stat-info">
        <h2>Active Users</h2>                                 
        <span class="stat-value"> {{ activeUsersCount }} </span>
      </div>
    </div>
  </div>
</main>
