<h2 class="form-title">
  {{
    mode === "add" ? "Create Role" : mode === "edit" ? "Edit Role" : "View Role"
  }}
</h2>

<div class="form-wrapper">
  <form class="user-form" #roleForm="ngForm" (ngSubmit)="onSave()">
    <div class="form-group">
      <label>Role Name</label>
      <input
        type="text"
        placeholder="Enter role name"
        name="roleName"
        [(ngModel)]="roleData.roleName"
        required
        #roleName="ngModel"
        #roleNameInput
        [readonly]="mode === 'view'"
      />

      <small
        class="error"
        *ngIf="roleName.touched && roleName.invalid && mode !== 'view'"
      >
        Role name is required
      </small>
    </div>

    <div class="form-group">
      <label>Level</label>
      <input
        type="number"
        placeholder="Enter level"
        name="level"
        [(ngModel)]="roleData.level"
        required
        #level="ngModel"
        [readonly]="mode === 'view'"
      />

      <small
        class="error"
        *ngIf="roleName.touched && roleName.invalid && mode !== 'view'"
      >
        Level is required
      </small>
    </div>

    <div class="form-actions">
      <button type="button" class="btn-secondary" routerLink="/dashboard/roles">
        {{ mode === "view" ? "Back" : "Cancel" }}
      </button>

      <button
        type="submit"
        class="btn-primary"
        [disabled]="roleForm.invalid"
        *ngIf="mode !== 'view'"
      >
        {{ mode === "add" ? "Save Role" : "Update Role" }}
      </button>
    </div>
  </form>
</div>
