/* ===== GLOBAL RESET ===== */
@import "ngx-toastr/toastr";
/* @import 'ngx-toastr/toastr-bs5-alert'; */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}


/* Global Toastr Overrides */
.toast-success {
  background: #28a745 !important; /* Professional green */
  color: #fff !important;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
  padding: 12px 18px;
}


.toast-error {
  background: #dc3545 !important; /* Professional red */
  color: #fff !important;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
  padding: 12px 18px;
}

.toast-info {
  background: #17a2b8 !important; /* Blue */
  color: #fff !important;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
  padding: 12px 18px;
}

.toast-warning {
  background: #ffc107 !important; /* Yellow */
  color: #212529 !important;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
  padding: 12px 18px;
}

/* Optional: smaller close button */
.toast-close-button {
  color: #fff;
  opacity: 0.8;
  font-size: 12px;
}
