<!-- <p>menu works!</p> -->

<div class="page-header">
  <h2 class="page-title">Menu List</h2>

  <button class="create-btn" routerLink="/dashboard/menu/add">
    <span class="plus">+</span>
    Create New
  </button>
</div>

<div class="table-wrapper">
  <div class="table-search">
    <input
      type="text"
      placeholder="Search users..."
      [(ngModel)]="searchText"
      (input)="onSearchInput()"
    />
    <span class="material-icons search-icon">search</span>
  </div>

  <table class="user-table">
    <thead>
      <tr>
        <th>MenuName</th>
        <th>Sorting</th>
        <th>MenuType</th>
        <th>Status</th>
        <th class="actions-col">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngIf="loading">
        <td colspan="4" style="text-align: center">Loading users...</td>
      </tr>

      <tr *ngFor="let menu of menus">
        <td>{{ menu.menuName }}</td>
        <td>{{ menu.sorting }}</td>
        <td>{{ menu.menuType }}</td>

        <!-- <td>{{ user.roleName }}</td> -->
        <td>
          <span
            class="status"
            [ngClass]="menu.isActive ? 'active' : 'blocked'"
            (click)="toggleStatus(menu)"
            style="cursor: pointer"
            title="Click to toggle status"
          >
            {{ menu.isActive ? "Active" : "Blocked" }}
          </span>
        </td>

        <td class="actions">
          <span
            class="material-icons icon view"
            title="View"
            (click)="viewUser(menu)"
            >visibility</span
          >
          <span
            class="material-icons icon edit"
            title="Edit"
            (click)="editUser(menu)"
            >edit</span
          >
          <span
            class="material-icons icon delete"
            title="Delete"
            (click)="deleteUser(menu)"
            >delete</span
          >
        </td>
      </tr>

      <tr *ngIf="!loading && menus.length === 0">
        <td colspan="4" style="text-align: center">No menus found</td>
      </tr>
    </tbody>
  </table>

  <div class="paginator-container">
    <mat-paginator
      [length]="totalCount"
      [pageIndex]="pageNumber - 1"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 20, 50]"
      (page)="pageChanged($event)"
    >
    </mat-paginator>
  </div>
</div>
